#menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-header .username {
}

.menu-item {
}

.menu-separator {
}

.menu-hidden {
  display: none;
}

.menu-visible {
  display: flex;
}
